@media (max-width : 600px) {
    #nav-right a{
        font-size: 5vw;
        color: #fff;
        font-weight: 400;
        text-transform: capitalize;
        margin-left: 1vw;
        letter-spacing: 1px;
        text-decoration: none;
      }
      #page3{
        height: 100vh;
        width: 100%;
        display: block;
      }
    #nav{
        margin-top: 4vw;
    }
    #cpage1{
        height: 80vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    #contact-left{
        height: 100%;
        width: 90%;
        /* background-color: bisque; */
        margin-top: 8vw;
        margin-left: 12vw;
    
    }
    
    
    #contact-left h1{
        position: relative;
        top: 3vw;
        left: 6vw;
        font-size: 5vw !important;
        /* margin: 2vw 4vw; */
        font-family: gilroy;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    #contact-left form{
        height: 60%;
        padding: 5vw;
    }
    
    #contact-left form input{
        font-size: 3vw !important;
        border-radius: 5px;
        height: 3vw;
        padding: 4vw 6vw !important;
        margin: 1vw 1vw;
        width: 35vw !important;
        border: 1px solid gray;
        caret-color: blue;
    }
    #contact-left form input:focus{
        outline: 1px solid royalblue;
    }
    #contact-left form input::placeholder{
        color: rgb(98, 130, 227);
    }
    
    #contact-left form textarea{
        margin-left: 1vw;
        font-size: 3vw !important;
        padding: 3vw;
        border: 1px solid gray;
        caret-color: blue;
        height: 12vw !important;
        width: 65vw !important;
    
    }
    #contact-left form textarea::placeholder{
        color: royalblue;
    
    }
    #contact-left form textarea:focus{
        outline: 1px solid royalblue;
    }
    
    #contact-left form button{

        padding: 3vw 4vw !important;
        border-radius: 0.5vw;
        border: none;
        text-transform: uppercase;
        font-size: 4vw !important;
        color: #fff;
        background-color: royalblue;
        margin-left: 1vw;
        margin-top: 2vw;
    }
    #contact-right{
        height: 100%;
        width: 60%;
        padding: 4vw 2vw;
        /* background-color: violet; */
         margin-top: 6vw;
    
    }
    #contact-right h1{
        font-family: gilroy;
        font-weight: 700;
    
    }
    
    .address{
        height: 3vw;
        width: 100%;
        margin-top: 2vw;
    }
    .address i{
        font-size: 6vw !important;
        color: royalblue;
        font-weight: 100;
    }
    .address h2{
        color: gray;
        font-size: 3vw !important;
        margin-top: 6vw !important;
        
    }
    
    
    .social-link{
        height: 6vw !important;
        width: 100%;
        position: relative;
        margin-top: 2vw;
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 2vw;
    }
    .social-link i{
        font-size: 6vw !important;
        margin-top: 6vw;
        transition: all ease 1s;
    }

    .h1{
        font-size: 3vw;
        position: relative;
        top: 12vh;
        text-align: center;
        color: #012970;
      }
    #nav-left{
        height: 100%;
        width: 50%;
    }
    #nav-left img{
        height: 100%;
        width: 70%;
    }
    .drop-left{
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        margin-top: -20%;
    }
    .dropin{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .drop-right{
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 6vw;
        margin-top: 8vw;
    }
    .drop-left img{
        height: 120%;
        width: 100%;
    }
    .drop-left i{
        font-size: 8vw !important;
    }
    .drop-left .social-link{
        height: 100px !important;
        width: 100px;
        display: grid;
        grid-template-areas: "a a a";
        gap: 12px;
        grid-auto-rows: 26px;
        }
    #nav-right .res{
        display: none;
    }
    #menu button{
        padding: 2vw 3vw;
    }
    .close{
        position: relative;
        top: 6%;
        left: 82%;
    }
    .menu-btn{
        position: relative;
    }
    #menu button i{
        font-size: 4vw;
    }
    .menu-btn{
        opacity: 1;
        display: block;
    }
    .img2{
        width: 25vw !important;
        height: 20vw !important;
    }

    .drop{
        pointer-events: none;
        display: none;
        z-index: 99;
    }
    #nav-right:hover .drop{
        opacity: 1;
    }
    

    #page1{
        flex-direction: column;
        height: 150vw;
    }
    #page1-left{
        text-align: center;
        height: 100%;
        margin-top: 20vw;
        width: 100%;
        margin-right: 3vw;
        padding: 6vw;
        line-height: 8vw;
    }

    #page1-right img{
        margin-bottom: 10vw;
        margin-left: 20vw;
    }
    #page1-left h1{
        font-size: 5vw;
    
    }
    #page1-left h3{
        font-size: 3vw;
        color: #000;
        font-weight: normal;
        line-height: 2vw;
    }
    #page1-left button{
        padding: 3vw 5vw;
        font-size: 2.5vw;
    }
    #page1-right{
        height: 100%;
        width: 100%;
    }
    #page1-right img{
        height: 35vh;
        z-index: 9;
        width: 90%;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
        opacity: 0;
        
      }
    #page2{
        height:150vh;
        width: 100%;
        background-color: transparent;
        position: relative;
        
    }
    #page2 h1{
        text-align: center;
        font-size: 3vw;

    }
    #categories{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 100%;
        flex-wrap: nowrap;
        gap: 3vw;

    }
    .card{
        padding: 1vw;
        height: 35vh;
        width: 70vw;
    }
    .card img{
        height: 50%;
        width: 100%;
        object-fit: cover;
    
    }
    .card p{
        font-size: 2.5vw;
        text-align: center;
    }
    .card button{
        position: relative;
        left: 33%;
        margin-top: 2vw;
        padding: 2vw 3vw;
        font-size:2.3vw;
    }


    #footer{
        height: 80vh;
        width: 100%;
        background-color: #1B1B1B;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        flex-direction: column;
        padding: 1vw 2vw;
        
    }

    #img4{
        height: 8vh;
        /* margin-top: 10vw; */
        width: 18vw;
        /* background-image: url(/images/CodeCase\ Inverted\ Color\ 800x600.png); */
        background-size: cover;
        background-position: center;
      }
#img4{
    height: 10vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
    
.footer-1{
    height: 100%;
    width: 100%;
    /* background-color: gray; */
    padding: 2vw;
    line-height: 4vw;
    text-align: center;
    color: #fff;
}



.footer-1 h1{
    color: white;
    font-size: 7vw;
    margin: 3vw;
    margin-top: 5vw;
}
.footer-1 span{
    color: #1FCFB8;
}
.footer-1 h2{
    font-size: 4vw;
    font-weight: normal;
    margin-top: 1.5vw;
    letter-spacing: 0.5vw;
}


.footer-1 h3{
    color: white;
    font-size: 5vw;
    font-weight: 900;
    letter-spacing: 0.5vw;

}
.footer-1 h4{
    color: rgb(142, 140, 140);
    font-size: 5vw;
    line-height: 8vw;
    font-weight: 500;
    letter-spacing: 0.2vw;
}

.footer-1 p{
    font-size: 4.2vw;
    letter-spacing: 0.4vw;
}
.line{
    position: relative;
    left: 30%;
    width: 40%;
    height: 0.6vw;
    margin-top: 1vw;
}

#footer:hover .line{
    animation-name: line;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  @keyframes line {
    0%{
      width: 40%;
    }
    50%{
      width: 5%;
      background-color: skyblue;
    }
    100%{
      width: 40%;
      background-color: #207bdc;
    }
    
  }
.social-link svg{
    scale: 0.3;
}
.social-link{
    height: 4vw;
    width: 60%;
    position: relative;
    margin-top: 2vw;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 2vw;
}
.social-link i{
    font-size: 3vw;
}
#map{
    height: 30vh;
    width: 100%;
}
#contact-right{
    height: 100%;
    width: 100%;
    padding: 4vw 10vw;
    /* background-color: violet; */

}
#contact-right h1{
    font-family: gilroy;
    font-weight: 500;
    font-size: 7vw;

}
.address{
    height: 3vw;
    width: 100%;
    margin-top: 2vw;
}
.address i{
    font-size: 3vw;
    color: royalblue;
    font-weight: 100;
}
.address h2{
    color: gray;
    font-size: 2.2vw;
    
}

#contact-left h1{
    font-size: 4vw;
}
#contact-left form{
    height: 100%;
    padding: 5vw;
}

#contact-left form input{
    font-size: 3vw;
    border-radius: 5px;
    height: 5vw;
    padding: 4vw 5vw;
    margin: 3vw 1vw;
    width: 29vw;
    border: 1px solid gray;
    caret-color: blue;
}
#contact-left form textarea{
    margin-left: 1vw;
    margin-top: 2vw;
    font-size: 3vw;
    padding: 3vw;
    height: 12vw;
    width: 60vw;
}

#contact-left form button{
    padding: 3vw 4vw;
    border-radius: 0.5vw;
    border: none;
    font-size: 3vw;
    text-transform: uppercase;
    color: #fff;
    background-color: royalblue;
    margin-left: 1vw;
    margin-top: 2vw;
}
#contact-right{
    margin-top: -3vw;
}
#aboutsec{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 100%;
    padding: 3vw;
    padding-bottom: 10vw 20vw;
    margin: 0vw 0vw;
}


}


@media (max-width : 600px){
    #road{
        max-height: 305vh;
        width: 100%;
        padding: 5vw;
    }
    .box{
        height: 8vw;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3vw;
        margin: 30vw 0vw;
    }

    
.b-left{
    height: 10vh;
    /* margin-right: 35vw !important; */
    width: 40vw !important;
    display: flex;
    align-items: center;
    justify-content: right;
    transform: translateX(-40%);
    opacity: 0;
}

.b-left .msg{
    height: fit-content !important;
    width: 60vw !important;
    background-color: rgba(0, 0, 0, 0.751);
    border-radius: 10px;
    border-bottom-right-radius: 30px;
    padding: 1.2vw;
}
.msg p{
    color: #fff;
    font-size: 3vw !important;

}


.b-rightside{
    height: 10vh;
    margin-left: 35vw !important;
    width: 40vw !important;
    display: flex;
    align-items: center;
    justify-content: right;
    transform: translateX(50%);
    opacity: 0;
}

.b-rightside .msg{
    height: fit-content !important;
    width: 60vw !important;
    background-color: rgba(0, 0, 0, 0.751);
    border-radius: 10px;
    border-bottom-right-radius: 30px;
    padding: 1vw;
}


.b-mid{
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b-right{
    height: 100%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: left;
}
.b-right h1{
    color: #22CFB8;
    font-size: 4vw;
    margin-left: 3vw;
}
.b-right-h h1{
    color: #22CFB8;
    font-size: 4vw;
    margin-left: 3vw;
}

#c-line{
    height: 170vh;
    width: 2px;
    background-color: black;
    position: absolute;
    top: 10%;
    left: 49.9%;
    z-index: -9;
}
}


@media (max-width : 600px){
    
#form-page{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 60vh;
    width: 90vw;
    z-index: 9;
    border-radius: 20px;
    border: 2px solid gray;
    display: none;
}

#form-page form{
    height: 80%;
    padding: 5vw;
}

#form-page form input{
    font-size: 3.8vw;
    text-transform: uppercase;
    border-radius: 5px;
    height: 7vw;
    padding: 5vw 4vw;
    margin: 2.5vw 1vw;
    width: 100%;
    border: 1px solid gray;
    caret-color: blue;
}

#form-page form textarea{
    margin-left: 1vw;
    font-size: 3.8vw;
    text-transform: uppercase;
    margin-top: 2vw;
    padding: 2vw;
    border: 1px solid gray;
    caret-color: blue;
    height: 15vw;
    width: 100%;

}

#form-page form button{
    padding: 3vw 4vw;
    border-radius: 0.8vw;
    border: none;
    font-size: 3vw;
    text-transform: uppercase;
    color: #fff;
    background-color: royalblue;
    margin-left: 1vw;
    margin-top: 2vw;
}

#close{
    position: relative;
    right: -85%;
    top: 2%;
    font-size: 6vw;
}

label{
    font-family: gilroy;
    font-weight: 500;
    color:  rgb(56, 55, 55);
}

select{
    font-size: 5vw;
    color: #012970;
    margin-left: 1vw;
}

}